@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <title>Crypto Market - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>



    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar navbar-header">
                    <a class="navbar-brand">CMarket</a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"> <a asp-controller="App" asp-action="Index">Home</a> </li>
                    <li><a asp-controller="App" asp-action="About">About</a></li>
                    <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="App" asp-action="Currency">Currency</a></li>
                    @if (User.IsSignedIn())                    {

                        <li><a asp-controller="App" asp-action="Client">Client</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.IsSignedIn())
                    {
                        <li>
                            <form method="post" asp-controller="Auth" asp-action="Logout" class="navbar-form">
                                @User.GetUserName()
                                <input type="submit" value="Logout" class="btn btn-danger" />
                            </form>
                        </li>
                    }
                    else
                    {
                        <li><a  asp-controller="Auth" asp-action="Login">LogIn</a></li>
                        <li><a  asp-controller="Auth" asp-action="Register">Register</a></li>
                    }
                </ul>
            </div>
        </nav>

        <div class="userinfo">
            @if (User.Identity.IsAuthenticated)
            {
                <span id="currentuser"><b>User : @User.Identity.Name </b></span>
            }
        </div>

        <div id="main" class="container">
            @RenderBody()
            <footer id="footer"> 
               <h4>&copy; 2016 CryptoCurrency Ltd</h4>              
             </footer>           
        </div>

      
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" sc="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", false)

</body>



</html>

