@model IEnumerable<CryptoMarket.Services.PriceServicesResult>

<div class="pricebannerwrapper">
    <div class="pricebanner">
        @foreach (var tick in Model)
        {
            <div class="pricetick">

                @if (@tick.Price > 1)
                {
                    @string.Concat(@tick.FiatCode.ToUpper()
                      , '/'
                      , @tick.CryptoCode.ToUpper()
                      , "  "
                      )                    
                        @if (@tick.OneHourChange == 0)
                        {
                             <span id="pricetickvaluesame">@tick.Price.ToString("N2")</span>
                        }
                        else if (@tick.OneHourChange > 0)
                        {
                            <span id="pricetickvalueup">@tick.Price.ToString("N2")</span>
                        }
                        else
                        {
                            <span id="pricetickvaluedown">@tick.Price.ToString("N2")</span>
                        }


                }
                else
                {
                    @string.Concat(@tick.CryptoCode.ToUpper()
                      , '/'
                      , @tick.FiatCode.ToUpper()
                      , "  "                     
                    )

                    @if (@tick.OneHourChange == 0)
                    {
                        <span id="pricetickvaluesame">@tick.Price.ToString("N9")</span>
                    }
                    else if (@tick.OneHourChange > 0)
                    {
                        <span id="pricetickvalueup">@tick.Price.ToString("N9")</span>
                    }
                    else
                    {
                        <span id="pricetickvaluedown">@tick.Price.ToString("N9")</span>
                    }
                }

            </div>
        }
    </div>
</div>