@model CryptoMarket.ViewModels.CurrencyViewModel
@{
    ViewBag.Title = Model.Currency.Name;
}

<div>
    <section class="currencyDetail">
        <div class="panel-default">
            <div id="cryptoicondetail"><img  src="@Model.Currency.ImageUrl" class="img-thumbnail" height="50" width="50" /></div>
            <div id="currencydata"> <b>NAME : @Model.Currency.Name.ToUpper()</b></div>
            <div id="currencydata"> @Model.Currency.CurrencyCode</div>
            <div id="currencydata">DESCRIPTION : @Model.Currency.Description </div>
            <div id="currencydata">BIRTHDATE : @Model.Currency.BirthDate.ToString("MMM yyy") </div>
            <div id="currencydata">MARKET CAP : @Model.Currency.MarketCap.ToString("N0")</div>
            <div id="currencydata">AVAILIABLE SUPLLY : @Model.Currency.AvailableSupply.ToString("N0") </div>
            <div id="currencydata">IMAGE URL : @Model.Currency.ImageUrl </div>
            <div id="currencydata">CREATED: @Model.Currency.DateCreated.ToString("dd/MM/yyyy")</div>
            <div id="currencydata">MODIFIED: @Model.Currency.DateModified.ToString("dd/MM/yyyy")</div>            
        </div>
        @foreach (var data in Model.CurrencyData)
        {
            <div id="data">
                <div id="currencydata"> <b>FIAT CODE :  @data.FiatCode.ToUpper()</b></div>
                <div id="currrencydataprice">PRICE : @data.Price</div>
                <div>VOLUME : @data.Volume</div>
                <div>DAY CHANGE : @data.DayChange </div>
                <div>HOUR CHANGE : @data.OneHourChange</div>
            </div>
        }        
        
    </section>
    <div class="btn btn-success">
        @Html.ActionLink("BACK", "Currency")
    </div>
   
</div>
