@model CryptoMarket.ViewModels.CurrencyCreateViewModel

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container-fluid">
    <form method="post" asp-controller="App" asp-action="CurrencyEdit" class="form-horizontal">
        <div as-validation-summary="ValidationSummary.ModelOnly"></div>
        
        <div class="form-group">
         

            <label asp-for="Name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name"/>
            </div>
            <span asp-validation-for="Name"></span>

            <label asp-for="CurrencyCode" class="col-sm-2 control-label">Currency Code</label>
            <div class="col-sm-10">
                <input type="text" id="CurrencyCode" name="CurrencyCode" class="form-control" value="@Model.CurrencyCode" />
            </div>
            <span asp-validation-for="CurrencyCode"></span>

            <label asp-for="Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" id="Description" name="Description" class="form-control" value="@Model.Description" />
            </div>
            <span asp-validation-for="Description"></span>

            <label asp-for="DayVolume" class="col-sm-2 control-label">DayVolume</label>
            <div class="col-sm-10">
                <input type="text" id="DayVolume" name="DayVolume" class="form-control" value="@Model.DayVolume"/>
            </div>
            <span asp-validation-for="DayVolume"></span>

            <label asp-for="DayChange" class="col-sm-2 control-label">DayChange</label>
            <div class="col-sm-10">
                <input type="text" id="DayChange" name="DayChange" class="form-control" value="@Model.DayChange"/>
            </div>
            <span asp-validation-for="DayChange"></span>



            <div>
             @*  <a asp-contoller="App" asp-action="CurrencyEdit" asp-route-id="@Model" class="btn btn-success"> Save</a>*@
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                @*<a asp-controller="App" asp-action="CurrencyDelete" asp-route-id="@Model" class="btn btn-danger">Delete</a>*@
            </div>
        </div>
    </form>
</div>