@model IEnumerable<CryptoMarket.Models.Currency>

@{
    ViewBag.Title = "Crypto Currencies";
}

<div>
    <div>
        <h4>List of Crypto Currencies</h4>
    </div>
    <div>
        <div>
             
        </div>
        <section>
            <header>Crypto Market's list</header>
            <div class=listcrudcontrol>
                <a asp-controller="App" asp-action="CurrencyCreate" class="btn btn-success">Add</a>
            </div>
            <div class="listcontrol">
                <div class=listsortcontrol>
                    <label value="">Sort By : </label>
                    @Html.ActionLink("Name     |", "Currency", new { sortOrder = ViewBag.NameSortParam })
                    @Html.ActionLink("Code      |", "Currency", new { sortOrder = ViewBag.NameSortParam })
                    @Html.ActionLink("Price     |", "Currency", new { sortOrder = ViewBag.NameSortParam })
                    @Html.ActionLink("Volume |", "Currency", new { sortOrder = ViewBag.NameSortParam })
                    @Html.ActionLink("Birthdate |", "Currency", new { sortOrder = ViewBag.DateSortParam })
                </div>
                <div class="listsearchcontrol">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Find By Name @Html.TextBox("SearchString")
                            <input type="submit" value="Search" />
                        </p>
                        @*<label>Find By Name : </label>
                       @Html.TextBox("Search by Name")
                        <input type="submit" value="Search" />*@
                    }
                </div>
            </div>
            @foreach (var curr in Model)
            {
                @Html.Partial("_currencySummary", curr)
            }

            @*@foreach (var curr in Model)
            {
                <article>
                    <img id="curr" class="currenctarticlewidethumbnail" src="~/img/" />
                    <div id="productarticlewidecontent">
                        <header>
                            <span class="productarticlewidename">@curr.Name</span>
                        </header>
                        <p class="productarticlewidedescription">@curr.Description </p>
                        <p class="productarticlewidebirthdate">@curr.BirthDate.ToShortDateString()</p>
                    </div>
                </article>
            }*@

        </section>

    </div>
    
</div>
<option>BirthDay</option>