@*@model PagedList.IPagedList<CryptoMarket.Models.Currency>*@
@model IEnumerable<CryptoMarket.Models.Currency>
@*@model CryptoMarket.Common.PagedList<CryptoMarket.Models.Currency>*@

@{
    ViewBag.Title = "Crypto Currencies";
}

@*@using PagedList.Mvc
@using PagedList*@

<link href="~/css/PagedList.css" rel="stylesheet" />



<div>
    <div>
        <h4>List of Crypto Currencies</h4>
    </div>
   
    <div>        
        <section>        
            <div class=listcrudcontrol>
                <a asp-controller="App" asp-action="CurrencyCreate" class="btn btn-success">Add</a>
            </div>
            <div class="listcontrol">
                <div class=listsortcontrol>
                    <label value="">Sort By : </label>
                    @Html.ActionLink("Name     |", "Currency", new { sortOrder = ViewBag.NameSortParam, searchString = ViewBag.Currentsearch })
                    @Html.ActionLink("Code      |", "Currency", new { sortOrder = ViewBag.CodeSortParam, searchString = ViewBag.Currentsearch })
                    @Html.ActionLink("Price     |", "Currency", new { sortOrder = ViewBag.PriceSortParam, searchString = ViewBag.Currentsearch })
                    @Html.ActionLink("Volume |", "Currency", new { sortOrder = ViewBag.VolumeSortParam, searchString = ViewBag.Currentsearch })
                    @Html.ActionLink("Birthdate |", "Currency", new { sortOrder = ViewBag.DateSortParam, searchString = ViewBag.Currentsearch })
                </div>
                <div class="listsearchcontrol">
                    @*@using (Html.BeginForm())
                        {
                            <p>
                                Find By Name @Html.TextBox("SearchString")
                                <input type="submit" value="Search" />
                            </p>
                        }*@
                    @using (Html.BeginForm("Currency", "App", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        @Html.Label("searchString", "Currency Name or Code : ", new { @class = "control-label" })
                        @Html.TextBox("searchString", ViewBag.searchString as string, new { @class = "form-control" })
                        <input type="submit" value="Search" class="btn btn-default" />
                    }
                </div>
            </div>
            @foreach (var curr in Model)
            {
                @Html.Partial("_currencySummary", curr)                                   
            }
         
        </section>
    </div>
</div>
@*Show which page currently on out of total pages*@
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

@*Next the paging control: Takes Model as the first argument and the function that generate the Url as the second argument*@
@*@Html.PagedListPager(Model,  PagedList => Url.Action("Currency", new { page, sortOrder = ViewBag.CurrentSort, seasrchString = ViewBag.CurrentSearch }))*@
