@model IEnumerable<CryptoMarket.ViewModels.WalletViewModel>

@{ 
    ViewBag.Title = "Wallet";
}

<div>
    <table class="table table-responsive table-hover">
    <tr>
            <th>ClientId</th>
            <th>Name</th>

            <th>Description</th>
            
            <th>Balance</th>
            <th>WithdrawLimit</th>
            <th>FiatAccountId</th>

            <th>DateCreated</th>
            <th>DateModified</th>       
    </tr>

    @foreach (var wallet in Model)
    {
    <tr>
        <td>@wallet.ClientId</td>
        <td>@wallet.Name</td>

        <td>@wallet.Description</td>
      
        <td>@wallet.Balance</td>
        <td>@wallet.WithdrawLimit</td>
        <td>@wallet.FiatAccountId</td>

        <td>@wallet.DateCreated</td>
        <td>@wallet.DateModified</td>
    </tr>
    }
        </table>
    </div>
